<!-- wp:group {"tagName":"div","className":"iss-hero-stack","layout":{"type":"default"}} -->
<div class="wp-block-group iss-hero-stack">

	
	<!-- wp:template-part {"slug":"header-hero","theme":"iss-theme","tagName":"header"} /-->
	

	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"overlayColor":"transparent","isUserOverlayColor":true,"minHeight":60,"minHeightUnit":"vh","className":"iss-hero","layout":{"type":"default"}} -->
	<div class="wp-block-cover iss-hero" style="min-height:60vh">
		<span aria-hidden="true" class="wp-block-cover__background has-transparent-background-color has-background-dim-0 has-background-dim"></span>
		<div class="wp-block-cover__inner-container">

			<!-- wp:group {"className":"iss-hero__inner","layout":{"type":"constrained"}} -->
			<div class="wp-block-group iss-hero__inner">

				<!-- wp:group {"className":"iss-hero__copy","layout":{"type":"constrained"}} -->
				<div class="wp-block-group iss-hero__copy">
					<!-- wp:post-title {"level":1} /-->
					<!-- wp:post-excerpt {"moreText":"","showMoreOnNewLine":false,"excerptLength":32} /-->
				</div>
				<!-- /wp:group -->

			</div>
			<!-- /wp:group -->

		</div>
	</div>
	<!-- /wp:cover -->

</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"iss-page-main","layout":{"type":"default"}} -->
<main class="wp-block-group iss-page-main">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iss-theme","tagName":"footer"} /-->
