# Ignore everything by default.
/*
/.*

# Keep this ignore file.
!.gitignore
!/themes/
/themes/*
!/themes/industriesalon/
!/themes/industriesalon/**

# Keep only selected plugins.
!/plugins/
/plugins/*
!/plugins/industriesalon-notices/
!/plugins/industriesalon-notices/**
!/plugins/industriesalon-steuerung/
!/plugins/industriesalon-steuerung/**
!/plugins/iss-calendar/
!/plugins/iss-calendar/**
!/plugins/iss-fuehrungen/
!/plugins/iss-fuehrungen/**
!/plugins/iss-programm/
!/plugins/iss-programm/**
!/plugins/saas-api/
!/plugins/saas-api/**

# Ignore editor lock noise.
*~lock*
