# Ignore everything by default.
/*
/.*

# Keep this ignore file.
!.gitignore
!/docker-compose.yml
!/themes/
!/themes/industriesalon/
!/themes/industriesalon/**

# Keep only the SaaS API plugin.

# Keep themes (note: `themes/` is its own git repo here).
