<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"className":"container-1280","layout":{"type":"constrained"}} -->
  <div class="wp-block-group container-1280">
    <!-- wp:heading {"level":1} -->
    <h1>Seite nicht gefunden</h1>
    <!-- /wp:heading -->
    <!-- wp:paragraph -->
    <p>Diese Seite existiert nicht (mehr).</p>
    <!-- /wp:paragraph -->
    <!-- wp:search {"label":"Suche","showLabel":false,"placeholder":"Suche…","buttonText":"Suchen"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

