<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"iss-page-template","layout":{"type":"default"}} -->
<main class="wp-block-group iss-page-template">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":55,"isUserOverlayColor":true,"minHeight":60,"minHeightUnit":"vh","contentPosition":"center left","isDark":false,"className":"iss-page-hero alignfull"} -->
	<div class="wp-block-cover alignfull is-light has-custom-content-position is-position-center-left iss-page-hero" style="min-height:60vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-55 has-background-dim"></span><div class="wp-block-cover__inner-container">
		<!-- wp:group {"className":"iss-page-hero__inner iss-container","layout":{"type":"constrained"}} -->
		<div class="wp-block-group iss-page-hero__inner iss-container">
			<!-- wp:paragraph {"className":"iss-kicker iss-kicker--light iss-kicker--lg iss-page-hero__kicker"} -->
			<p class="iss-kicker iss-kicker--light iss-kicker--lg iss-page-hero__kicker">Industriesalon Schöneweide</p>
			<!-- /wp:paragraph -->

			<!-- wp:post-title {"level":1,"className":"iss-page-hero__title"} /-->

			<!-- wp:post-excerpt {"moreText":"","showMoreOnNewLine":false,"excerptLength":40,"className":"iss-page-hero__text"} /-->
		</div>
		<!-- /wp:group -->
	</div></div>
	<!-- /wp:cover -->

		<!-- wp:group {"tagName":"section","className":"iss-page-content section","layout":{"type":"default"}} -->
		<section class="wp-block-group iss-page-content section">
			<!-- wp:post-content {"layout":{"type":"default"}} /-->
		</section>
		<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
