<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"className":"container-1280","layout":{"type":"constrained"}} -->
  <div class="wp-block-group container-1280">
    <!-- wp:post-title {"level":1} /-->
    <!-- wp:post-featured-image {"isLink":false} /-->
    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

